body {
    background-image: url(/static/img/bg2.webp);
    background-size: cover;
    object-fit: cover;
}
th{
    background-color: #fff;
    font-size: 14px;
}
tr {
    font-size: 14px;
}
.select-zamki {
    max-width: 122px;
}

.select-korobki {
    max-width: 62px;
}

.select-petli {
      max-width: 187px;
}
.select-storona-otkr {
    max-width: 125px;
}
.select-color {
      max-width: 117px;
}

.select-torci {
    max-width: 93px;
}

.container {
    background-color: #fff;
}

.span1 {
    padding-bottom: 8px;
    display: block;
}

.subcheck {
    margin-left: 5px;
}

#specification-table-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.descr-input {
    max-width: 72px;
}

.value_zazor_snizy {
    max-width: 60px;
}
.polonto-dlina, .polonto-shirina {
    max-width: 69px;
}

#specification-table-wrapper input {
    text-align: center;
}

.td-storona-otkr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#add_new_string {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.td-petli {
    display: flex;
}

.petli-count {
    max-width: 28px;
}

.input-obrabotka {
    max-width: 50px;
    text-align: center;
}
#order_id_wrapper {
    display: none;
}
#order_id {
    max-width: 65px;
    text-align: center;
}
.th-razmer-polotna {
    min-width: 165px;
}
#order_loader{
    position: fixed;
    right: 0;
    bottom: 0;
}


.order_results {
    padding-bottom: 40px;
}

.profil_name {
    font-weight: bold;
    display: block;
}

.ostatok {
    background-color: #c6c4c4 !important;
    border-left: 1px solid black;
}

#order_loader {
    z-index: 999;
}

.raskroy-wrapper {
    display: flex;
}
.raskroy-item {
    display: block;
    /*flex-grow: 1;*/
    background-color: #f9a76b;
    /*border-right: 1px solid black;*/
}
.raskroy-item-info-value {
    display: inline-block !important;
}
.raskroy-item span {
    display: block;
    font-size: 12px;
    text-align: center;
}
.diagonal-line-left {
    background-image: linear-gradient(to bottom right, transparent 49%, #000, transparent 52%);
    background-repeat: no-repeat;
    width: 50px;
    height: 109px;
}
.diagonal-line-right {
    background-image: linear-gradient(to bottom left, transparent 49%, #000, transparent 52%);
    background-repeat: no-repeat;
    width: 50px;
    height: 109px;
}
.vertical-line-left {
    width: 50px;
    height: 109px;
    border-left: 2px solid black;
}
.vertical-line-right {
    width: 50px;
    height: 109px;
    border-right: 2px solid black;
}
.raskroy-item-flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.raskroy-item-info {

}
.ostatok-span-wrap {
    display: flex;
    height: 100%;
    align-items: center;
}

.ostatok-span-wrap span {
    display: block;
    text-align: center;
    padding: 5px;
}

.delete-icon-wrapper img {
    max-width: 16px;
}