{% extends  'app/base.html' %}
{% block title %}Формирование пецификации{% endblock %}
{% block header %}Формирование спецификации{% endblock %}

{% block content %}
    <section id="content">
        <form action="/" id="order-details-wrapper" onsubmit="return false">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="order_description_wrapper">
                        {% if manager %}
                        <span>Менеджер: {{ manager.first_name }} {{ manager.last_name }} .</span>
                        <input id="manager" style="display: none" disabled value="{{manager.id}}">
                        {% endif %}
                        {%if rabotyagi_list %}
                            <label for="otvetstvenniy_za_proizvodstvo">Ответственный за производство: </label>
                            <select id="otvetstvenniy_za_proizvodstvo" class="select-rabotyaga">
                                {% for item in rabotyagi_list %}
                                <option value="{{item.id}}">{{item.first_name}} {{item.last_name}} {{item.username}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        <label for="client">Клиент: </label>
                        <input type="text" value="Не указан" id="client" placeholder="ООО ОВК-строй" required  maxlength="50" name="client">
                        <label for="description">Примечание к заказу: </label>
                        <textarea id="description" maxlength="150" name="description"></textarea>
                        <div id="order_id_wrapper">
                            <label for="order_id">id заказа: </label>
                            <input disabled id="order_id">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col js-col-complictation">
                <span class="span1"><strong>Комплектация</strong></span>
                <div class="form-check">
                  <input disabled checked class="form-check-input" name="dvernaya_korobka" type="checkbox" id="dvernaya_korobka">
                  <label class="form-check-label" for="dvernaya_korobka">
                    Дверная коробка
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="torec_karkas_polotna" id="torec_karkas_polotna">
                  <label class="form-check-label" for="torec_karkas_polotna">
                    Торец/Каркас полотна
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="petli" name="petli">
                  <label class="form-check-label" for="petli">
                    Петли
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="zamok_and_otvestka" name="zamok_and_otvestka">
                  <label class="form-check-label" for="zamok_and_otvestka">
                    Замок и ответка
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="yplotnitel" name="yplotnitel">
                  <label class="form-check-label" for="yplotnitel">
                    Уплотнитель
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="syhori_ygolki" name="syhori_ygolki">
                  <label class="form-check-label" for="syhori_ygolki">
                    Сухари/уголки для сборки
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="montajnie_plastini" name="montajnie_plastini">
                  <label class="form-check-label" for="montajnie_plastini">
                    Монтажные пластины
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="shtykatyrnaya_setka" name="shtykatyrnaya_setka">
                  <label class="form-check-label" for="shtykatyrnaya_setka">
                    Штукатурная сетка
                  </label>
                </div>
            </div>
            
            <div class="col-7 obrabotka-wrap">
                <span class="span1"><strong>Обработка</strong></span>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tip_obrabotki_radio" id="bez_obrabotki">
                  <label class="form-check-label" for="bez_obrabotki">
                    Расчёт количества без мех обработки
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tip_obrabotki_radio" id="pilim_dlya_transportnoi">
                  <label class="form-check-label" for="pilim_dlya_transportnoi">
                    Пилим для транспортной
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tip_obrabotki_radio" id="mehobrabotka">
                  <label class="form-check-label" for="mehobrabotka">
                    Мех обработка
                  </label>
                    <div class="form-check subcheck">
                      <input class="form-check-input" name="pilim_korobky_v_razmer_polotna" type="checkbox" id="pilim_korobky_v_razmer_polotna">
                      <label class="form-check-label" for="pilim_korobky_v_razmer_polotna">
                        Пилим коробку под размер полотна
                      </label>
                    </div>
                    <div class="form-check subcheck">
                      <input class="form-check-input" name="pilim_torec_v_razmer_polotna" type="checkbox" id="pilim_torec_v_razmer_polotna">
                      <label class="form-check-label" for="pilim_torec_v_razmer_polotna">
                        Пилим торец в размер полотна
                      </label>
                        <div class="form-check subcheck">
                          <input class="form-check-input" name="pilim_torec_v_razmer_polotna_radio" type="radio" id="pilim_torec_v_razmer_polotna_s_zapasom">
                          <label class="form-check-label" for="pilim_torec_v_razmer_polotna_s_zapasom">
                            С запасом
                          </label>
                            <input id="zapas_mm" type="number" class="input-obrabotka" value="{{constants.pilim_korobky_v_razmer_polotna_s_zapasom_mm}}"> мм
                        </div>
                        <div class="form-check subcheck">
                          <input class="form-check-input" name="pilim_torec_v_razmer_polotna_radio" type="radio" id="pilim_torec_v_razmer_polotna_s_zapilom">
                          <label class="form-check-label" for="pilim_torec_v_razmer_polotna_s_zapilom">
                            С запилом под 45 без запаса
                          </label>
                        </div>
                        <div class="form-check subcheck">
                          <input class="form-check-input" name="otrezaem_kontatknie_pyatna" type="checkbox" id="otrezaem_kontatknie_pyatna">
                          <label class="form-check-label" for="otrezaem_kontatknie_pyatna">
                            Отрезаем контактные пятна <input class="input-obrabotka" type="number" id="kontaktnie_pyatna_mm" value="{{constants.kontatknie_pyatna_mm}}"> мм
                          </label>
                        </div>
                    </div>
                    
                <div class="form-check subcheck">
                  <input class="form-check-input" type="checkbox" name="frezerovka_korobki_por_petli_i_ovesky_zamka" id="frezerovka_korobki_por_petli_i_ovesky_zamka">
                  <label class="form-check-label" for="frezerovka_korobki_por_petli_i_ovesky_zamka">
                    Фрезеровка коробки под петли и ответку замка
                  </label>
                </div>
                <div class="form-check subcheck">
                  <input class="form-check-input" type="checkbox" name="frezerovka_torca_or_karkasa_pod_petli_i_zamok" id="frezerovka_torca_or_karkasa_pod_petli_i_zamok">
                  <label class="form-check-label" for="frezerovka_torca_or_karkasa_pod_petli_i_zamok">
                    Фрезеровка торца/каркаса под петли и замок
                  </label>
                </div>
                <div class="form-check subcheck">
                  <input class="form-check-input" type="checkbox" id="frezerovka_pod_nestandartnyy_fyrnityry" name="frezerovka_pod_nestandartnyy_fyrnityry">
                  <label class="form-check-label" for="frezerovka_pod_nestandartnyy_fyrnityry">
                    Фрезеровка под нестандартную фурнитуру
                  </label>
                </div>
                <div class="form-check subcheck">
                  <input class="form-check-input" type="checkbox" id="na_niz_revers_poloten_pryamoi_torec" name="na_niz_revers_poloten_pryamoi_torec">
                  <label class="form-check-label" for="na_niz_revers_poloten_pryamoi_torec" >
                    На низ реверсивных полотен прямой торец
                  </label>
                </div>
                <div class="form-check subcheck">
                  <input class="form-check-input" type="checkbox" id="na_verh_poloten_bez_poperechini_pryamoi_torec" name="na_verh_poloten_bez_poperechini_pryamoi_torec">
                  <label class="form-check-label" for="na_verh_poloten_bez_poperechini_pryamoi_torec" >
                    На верх полотен без поперечины прямой торец
                  </label>
                </div>
                <div class="form-check subcheck">
                  <input checked class="form-check-input" type="checkbox" id="dlya_dverey_bez_verhn_poperechini_plus" name="dlya_dverey_bez_verhn_poperechini_plus">
                  <label class="form-check-label" for="dlya_dverey_bez_verhn_poperechini_plus" >
                    Для дверей без верхней поперечины + <input class="input-obrabotka" type="number" id="dlya_dverey_bez_verhnei_poperechini_plus_mm" value="{{constants.dlya_dverey_bez_verhnei_poperechini_plus_sverhy}}"> мм сверху
                  </label>
                </div>
                
                </div>

            </div>
          </div>
          
        </div>

        <div id="specification-table-wrapper">
            <div class="container">
              <div class="row">
                <div class="col">
                  <table border="1">
                   <tr>
                        <th class="th-string-number">№</th>
                        <th class="th-descr">Пометка</th>
                        <th class="th-razmer-polotna">Размер полотна(мм)</th>
                        <th class="th-storona-otkr">Стор. откр.</th>
                        <th class="th-color">Цвет</th>
                        <th class="th-korobka">Коробка</th>
                        <th class="th-poperechina">п.в.</th>
                        <!--<th class="th-delete">Удалить</th>-->
                   </tr>
                   <tr class="order-row">
                       <td class="td-string-number">1</td>
                       <td class="td-descr"><input type="text" class="descr-input" placeholder="Гараж"></td>
                       <td class="td-razmer-polotna">
                           <input type="number" class="polonto-dlina" required placeholder="2000"> x <input type="number" required class="polonto-shirina" placeholder="800">
                       </td>

                       <td class="td-storona-otkr">
                            <select class="select-storona-otkr">
                                <option selected value="1">Правое/на себя</option>
                                <option value="2">Левое/на себя</option>
                                <option value="3">Правое/реверс</option>
                                <option value="4">Левое/реверс</option>
                            </select>
                       </td>
                       <td class="td-color">
                            {%if pokritie %}
                                <select class="select-color">
                                    {% for item in pokritie %}
                                    <option value="{{item.id}}">{{item.pokritie}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                       </td>
                       <td class="td-korobka">
                            {% if korobki %}
                                <select class="select-korobki">
                                    {% for korobka in korobki %}
                                    <option value="{{korobka.id}}">{{korobka.name}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                       </td>
                       <td class="td-poperechina">
                            <input type="checkbox" checked name="top-poperechina" class="top-poperechina">
                       </td>
                       <!--
                       <td class="td-delete">
                            <div class="delete-icon-wrapper">
                                <img src="/static/img/close.png">
                            </div>
                       </td>
                       -->
                   </tr>
                   
                  </table>
                    
                    <button id="add_new_string">Добавить строку</button>
                    <button id="create_order" type="submit">Рассчитать количество и стоимость</button>
                    
                </div>
              </div>
                <div class="row">
                   <div class="col-12">
                       <div id="order_loader_wrapper"></div>
                   </div>
                </div>
            </div>
        </div>
     </form>
   </section>

    <section class="order_results">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="js-raskroy">
                        <div class="one-list">
                            <span class="profil_name">КСМ1</span>
                            <div class="raskroy-wrapper">
                                <div class="raskroy-item">
                                    <div class="raskroy-item-flex-wrapper">
                                        <div class="diagonal-line-left"></div>
                                        <div class="raskroy-item-info">
                                            <span>№ позиции: 1</span>
                                            <span>Большая длина: 1200</span>
                                            <span>Запилов под 45: 2</span>
                                        </div>
                                        <div class="diagonal-line-right"></div>
                                    </div>
                                </div>
                                <div class="raskroy-item">
                                    <div class="raskroy-item-flex-wrapper">
                                        <div class="diagonal-line-left"></div>
                                        <div class="raskroy-item-info">
                                            <span>№ позиции: 1</span>
                                            <span>Большая длина: 1200</span>
                                            <span>Запилов под 45: 2</span>
                                        </div>
                                        <div class="diagonal-line-right"></div>
                                    </div>
                                </div>
                                <div class="raskroy-item">
                                    <div class="raskroy-item-flex-wrapper">
                                        <div class="diagonal-line-left"></div>
                                        <div class="raskroy-item-info">
                                            <span>№ позиции: 1</span>
                                            <span>Большая длина: 1200</span>
                                            <span>Запилов под 45: 2</span>
                                        </div>
                                        <div class="diagonal-line-right"></div>
                                    </div>
                                </div>
    
                                <div class="raskroy-item ostatok">
                                    <div class="ostatok-span-wrap"><span>Длина остатка: 500</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--скрытая секция для шаблонов подгрузки раскроя -->
            <div id="raskroy_tpls" style="display: none;">
                
                <div class="raskroy_item_tpl_zap_0_wrapper">
                    <div class="raskroy-item">
                        <div class="raskroy-item-flex-wrapper">
                            <div class="vertical-line-left"></div>
                            <div class="raskroy-item-idiagonal-linenfo">
                                <span>№ позиции: <span class="pos-numb-val raskroy-item-info-value">0</span></span>
                                <span>Большая длина: <span class="size-val raskroy-item-info-value">1200</span></span>
                                <span>Запилов под 45: <span class="zapils-count-val raskroy-item-info-value">0</span></span>
                            </div>
                            <div class="vertical-line-right"></div>
                        </div>
                    </div>
                </div>
                
               <div class="raskroy_item_tpl_zap_1_wrapper">
                    <div class="raskroy-item">
                        <div class="raskroy-item-flex-wrapper">
                            <div class="diagonal-line-left"></div>
                            <div class="raskroy-item-idiagonal-linenfo">
                                <span>№ позиции: <span class="pos-numb-val raskroy-item-info-value">0</span></span>
                                <span>Большая длина: <span class="size-val raskroy-item-info-value">1200</span></span>
                                <span>Запилов под 45: <span class="zapils-count-val raskroy-item-info-value">1</span></span>
                            </div>
                            <div class="vertical-line-right"></div>
                        </div>
                    </div>
                </div>

                <div class="raskroy_item_tpl_zap_2_wrapper">
                    <div class="raskroy-item">
                        <div class="raskroy-item-flex-wrapper">
                            <div class="diagonal-line-left"></div>
                            <div class="raskroy-item-idiagonal-linenfo">
                                <span>№ позиции: <span class="pos-numb-val raskroy-item-info-value">0</span></span>
                                <span>Большая длина: <span class="size-val raskroy-item-info-value">1200</span></span>
                                <span>Запилов под 45: <span class="zapils-count-val raskroy-item-info-value">2</span></span>
                            </div>
                            <div class="diagonal-line-right"></div>
                        </div>
                    </div>
                </div>
                
                <div class="raskroy_item_tpl_ostatok_wrapper">
                    <div class="raskroy-item ostatok">
                        <div class="ostatok-span-wrap"><span>Остаток: </span><span class="ostatok-val"></span></div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="export">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="export-content">
                        <button id="save_page_as_pdf">Сохранить в pdf</button>
                        <!--
                        <button id="save_page_as_jpg" name = "button" onclick = "convert ()">Сохранить в jpg</button>
                        <button id="save_page_3">Сохранить 3</button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
<section>
    <input id="name1">
    <input id="name2">
    <button type="submit" id="sendtestapi">Отправить</button>
</section>
-->
    <div style="display: none;" id="#constants">
        {% if constants %}
            <input class="zazor_snizy" value="{{constants.zazor_snizy}}">
        {% endif %}
    </div>

    <table id="hidden-table" style="display: none;">
        <th class="th-storona-otkr">Сторона откр.</th>
        <th class="th-korobka">Коробка</th>
        <th class="th-torec">Торец</th>
        <th class="th-color">Цвет</th>
        <th class="th-zazor-snizy">Зазор снизу</th>
        <th class="th-petli">Петли</th>
        <th class="th-zamok">Замок</th>
        
       <td class="td-storona-otkr">
           <div>
               <span>От себя</span>
               <input type="radio" name="storona-otkr" class="otkr-na-sebya" value="0">
           </div>
           <div>
               <span>На себя</span>
               <input type="radio" name="storona-otkr" class="otkr-ot-sebya" value="1">
           </div>
       </td>
       
       <td class="td-korobka">
            {% if korobki %}
                <select class="select-korobki">
                    {% for korobka in korobki %}
                    <option value="{{korobka.id}}">{{korobka.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
       </td>
       
       <td class="td-torec">
            {% if torci %}
                <select class="select-torci">
                    {% for torec in torci %}
                    <option value="{{torec.id}}">{{torec.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
       </td>
       
       <td class="td-color">
            {%if pokritie %}
                <select class="select-color">
                    {% for item in pokritie %}
                    <option value="{{item.id}}">{{item.pokritie}}</option>
                    {% endfor %}
                </select>
            {% endif %}
       </td>
        
       <td class="td-petli">
            {%if petli %}
                <select class="select-petli">
                    {% for petlya in petli %}
                    <option value="{{petlya.id}}">{{petlya.proizvoditel}} - {{petlya.model_name}}</option>
                    {% endfor %}
                </select>
                <input class="petli-count" placeholder="2" value="2">
            {% endif %}
       </td>
       
       <td class="td-zamok">
            {%if zamki %}
                <select class="select-zamki">
                    {% for zamok in zamki %}
                    <option value="{{zamok.id}}">{{zamok.name}}</option>
                    {% endfor %}
                </select>
            {% endif %}
       </td>
        
        <td class="td-zazor-snizy">
            {% if constants %}
                <input class="value_zazor_snizy" value="{{constants.zazor_snizy}}">
            {% endif %}
        </td>
       
    </table>

    
{% endblock %}